MYSQL_DATABASE=mccodes
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=mccodes

#
# Host the development server on this port
#
WEB_PORT=8000

#
# Adminer is a phpMyAdmin style tool
# Login with the mysql user, password and database
#
ADMINER_PORT=8080

